.container{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(autofit, minmax(60px,1fr));
    grid-template-areas: "navbar" "google picture" "form" "footer"
    ;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    grid-area: navbar;
    display: block;
    ul{ 
        list-style-type: none;
        padding: 0;}
    }
.googlepicture {grid-area: google picture;}
.form {grid-area: form;
display: grid;
grid-template-rows: repeat(2, auto);
grid-template-columns: 1fr 1fr;
grid-template-areas: " searchbar" "button1 button2";
}
.footer {grid-area: footer;}



